{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for row in rows %}
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["share"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>

            </tr>
                {% endfor %}

            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                {% for row in rows1 %}
                    <td>{{ row["cash"] }}</td>
                {% endfor %}
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}